@media only screen and (max-width: 992px) {
    .menu-box-middle .search-and-icons .search-input {
        width: 220px !important;
        input {
            width: 220px !important;
        }
    } 
}
@media only screen and (max-width: 1400px) {
    #cookie-and-icecream .box img {
        height: 245px;
    }
}

.padding {
    padding: 0;
}
.btn:focus {
    box-shadow: none;
}
.info-text {
    background-color: #233A95;
    width: 100%;
    height: 31.5px;
    
    text-align: center;
    p {
        color: white;
        padding: 6px 0px;
        margin: 0;
        font-size: 13px;
    }
}
.menu-box-top {
    height: auto;
    border-bottom: 1px solid rgb(185, 185, 185);
    .nav {
        .nav-item {
            .nav-link {
                font-size: 13px;
                padding: 10px 5px;
                color: rgb(97, 97, 97);
            }
        }
    }
    .courier-text {
        i {
            color: rgb(97, 97, 97);
        }
        p {
            display: inline-block;
            font-size: 13px;
            padding: 10px 5px;
            color: rgb(97, 97, 97);
            margin: 0 0 0 5px;
            padding: 0;
        }
        border-right: 1px solid rgb(185, 185, 185);
        margin: 10px 0;
    }
    .call-us {
        p {
            display: inline-block;
            font-size: 13px;
            padding: 10px 5px;
            color: rgb(97, 97, 97);
            margin: 0 5px;
        }
        a {
            color: #2BBEF9;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        border-right: 1px solid rgb(185, 185, 185);
    }
    
    .language-and-currency {
        .dropbtn {
            background-color: transparent;
            color: #36769B;
            padding: px;
            font-size: 16px;
            border: none;
            cursor: pointer; 
            i {
                margin-left: 5px;
            }
            &:hover {
                color: #2BBEF9;
            }
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .dropdown-content a:hover {
              color: #2BBEF9;
            background-color: #f1f1f1
        }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
        height: 100%;
        align-items: center;
    }
    
}
.menu-box-middle {
    .logo {
        img {
            height: 43.8px;
        }
    }
    .logo-and-location {
        margin-top: 25px;
        .location {
            margin-left: 70px;
            .btn-location {
                background-color: transparent;
                border: 1px solid rgb(185, 185, 185);
                border-radius: 4px;
                .first {
                    color: rgb(185, 185, 185);
                    margin: 0;
                    font-size: 10px;
                }
                .last {
                    color: #233A95;
                    margin: 0;
                }
            }
            .modal {
                height: 500px;
                .modal-body {
                    height: 400px;
                    overflow-y: scroll;
                    .search-input {
                        input {
                            width: 100%;
                            height: 48px;
                            background-color: #F3F4F7;
                            border: none;
                            padding: 0 0 0 40px;
                            &:focus-visible {
                                outline: none;
                            }
                        }
                        position: relative;
                        i {
                            position: absolute;
                            left: 15px;
                            top: 15px;
                            color: rgb(97, 97, 97);
                        }
                    }
                  ul {
                      li {
                          border: none;
                          border-bottom: 1px solid rgb(185, 185, 185);
                          span {
                              color: rgb(185, 185, 185);
                              border-radius: 25px;
                              border: 1px solid rgb(185, 185, 185);
                              float: right;
                              width: 70px;
                              height: 26px;
                              text-align: center;
                              font-size: 14px;
                          }
                      }
                  }
                }
            }
        }
    }
    .search-and-icons {
        margin-top: 25px;
        .search-input {
            position: relative;
            width: 554px;
            display: inline-block;
            input {
                height: 60px;
                width: 554px;
                background-color: #F3F4F7;
                border: none;
                padding-left: 15px;
                &:focus-visible {
                    outline: none;
                }

            }
            i {
                position: absolute;
                top: 23px;
                right: 15px;
                
            }
        }

        .fa-user {
            padding: 20px 14px;
            margin-left: 15px;
            border: 1px solid rgb(185, 185, 185);
            border-radius: 50%;
        }
        .shopping-items {
            .fa-basket-shopping {
                padding: 20px 12px;
                border-radius: 50%;
                color: #EF5D0F;
                background-color: #fad4ce;
            }
            cursor: pointer;
            display: inline-block;
            position: relative;
            &:hover .shopping-items-hidden {
                P {
                    margin: 0;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

            }
        }
        .shopping-items-hidden {
            width: 300px;
            height: 270px;
            position: absolute;
            display: none;
            z-index: 100;
            background-color: white;
            border: 1px solid rgb(185, 185, 185);
            border-radius: 4px;
            .border-shop {
                margin-bottom: 25px;
                border-bottom: 1px solid rgb(185, 185, 185);;
            }
        }
        
    }
}
.menu-box-bottom {
    margin-top: 20px;
    .dropdown {
        .btn-dropdown {
            background-color: #2BBEF9;
            border: none;
            border-radius: 20px;
            height: 50px;
            width: 214px;
        }
        .dropdown-menu {
            width: 215px;
            margin-top: 20px !important;
            li {
                cursor: pointer;
                &:hover {
                    
                    color: #2BBEF9;
                    a {
                        background-color: white;
                        color: #2BBEF9;
                    }
                }
                .first { 
                    
                    display:none;
                    position:absolute;
                    left:214px;
                    top:0px; 
                    border:1px solid #D9D9D9;
                    height: 255px;
                    border-radius: 4px;
                    width: 220px; 
                    li {
                        padding: 0;
                        border: none;
                        
                    }
                }
                .last {
                    display:none;
                    position:absolute;
                    left:214px;
                    top:0px; 
                    border:1px solid #D9D9D9;
                    height: 340px;
                    border-radius: 4px;
                    width: 220px; 
                    li {
                        padding: 0;
                        border: none;
                        
                    }
                }
                &:hover ul { display:block; }
                a {
                    i {
                        padding-right: 5px;
                    }
                }
                .chevron {
                    display: inline;
                    padding: 0 13px;
                }
                .last-item {
                    border-bottom: 1px solid rgb(185, 185, 185);
                    
                }
            }  
                
        }
    }
    .navbar {
        margin-left: 90px;
        .dropdown,.nav-item {
            margin-left: 25px;
        }
        .dropbtn {
            background-color: transparent;
            color: #36769B;
            padding: px;
            font-size: 16px;
            border: none;
            cursor: pointer; 
            i {
                margin-left: 5px;
            }
            &:hover {
                color: #2BBEF9;
                
            }
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
            padding: 5px 0 0 0;
            &:hover {
                background-color: #a8e0f7;
                border-radius: 40px;
            }
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 100;
          }
          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .dropdown-content a:hover {
              color: #2BBEF9;
            background-color: #f1f1f1
        }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
        .nav-item {
            a {
                
                &:hover {
                    background-color: #a8e0f7;
                    border-radius: 40px;
                    color: #2BBEF9;
                        
                    
                }
                i {
                    margin-right: 5px;
                }
            }
        }
        height: 100%;
        align-items: center;
    }
    
    border-bottom: 1px solid rgb(185, 185, 185);
}
#carousel {
    .owl-carousel {
        .item {
            position: relative;
            .text-box {
                position: absolute;
                top: 30%;
                left: 15%;
                .discount-text {
                    border-radius: 30px;
                    background:linear-gradient(to right, #3aff33 0%, transparent 100%);
                    padding: 5px;

                }
                h3 {
                    font-size: 60px;
                }
                .price {
                    font-size: 40px;
                }
                .btn {
                    display: block;
                    background-color: #2BBEF9;
                    border: none;
                    border-radius: 30px;
                    height: 40px;
                    width: 150px;
                }
            }
        }
        .owl-dot {
            display: none !important;
        }
        .owl-nav {
            position: absolute;
            top: 40%;
            width: 100%;
        }
        .owl-prev{
            float: left;
            margin-left: 25px !important;
            background-color: white !important;
            border-radius: 50% !important;
            span {
                padding: 20px !important;
                font-size: 35px;
                &:hover {
                    color: black;
                }
            }
        }
        .owl-next {
            float: right;
            margin-right: 25px !important;
            background-color: white !important;
            border-radius: 50% !important;
            span {
                padding: 20px !important;
                font-size: 35px;
                &:hover {
                    color: black;
                }
            }
        }
    }
}
#categories {
    .col-xl-2,.col-xl-10,.col-xl-3 {
        padding: 0;
    }
    .card {
        .card-body {
            text-align: center;
        }
        
    }
    .beverages-category {
        .card {
            height: 260px;
            width: 209px !important;
            img {
                height: 180px;
            }
        }
    }
    .col-xl-10 {
        .col-xl-3 {
            .card {
                height: 100%;
                width: 100%;
            }
        }
    }
}
#ad-and-products {
    .add-item{
        height: 700px;
        width: 400px;
        border: 1px solid red;
        border-radius: 4px;
        text-align: center;
        .add-item-text {
            font-size: 25px;
        }
        .img-box {
            position: relative;
            img {
                height: 350px;
            }
            span {
                position: absolute;
                left: 60px;
                top: 35px;
                color: white;
                background-color: red;
                padding: 15px;
                border-radius: 50%;
            }
        }
        .progress-dv {
            display: flex;
            justify-content: center;
            .progress-box {
                background-color: #EDEEF5;
                width: 90%;
                border-radius: 10px;
                .progress {
                    width: 76%;
                    background: linear-gradient(to right, #ff0000 0%, #ff9933 100%);
    
                }
            }
        }
        .cross-out {
            display: inline-block;
            text-decoration: line-through;
            color: #C4C4D4;
            font-size: 25px;
        }
        .sale {
            color: red;
            font-size: 25px;
        }
        .card-text {
            font-size: 14px;
            color: #3aff33;
            margin: 0;
        }
    }
    .col-xl-8 {
        .col-xl-4 {
            padding: 0;
            .card {
                transition: all 0.5s;
                &:hover {
                    box-shadow: 10px 5px 5px rgb(185, 185, 185);
                    border: 1px solid rgb(185, 185, 185);
                    z-index: 100;
                }
                &:hover .hidden-box {
                    visibility: visible !important;
                }
                .hidden-box {
                    visibility: hidden;
                    .btn {
                        height: 35px;
                        width: 250px;
                        border-radius: 20px;
                        text-align: center;
                    }
                }
                img {
                    height: 180px;
                    width: 205px;
                }
               .onsale {
                margin: 20px 0 0 20px;
                background-color: #2BBEF9;
                width: 45px;
                border-radius: 20px;
                text-align: center;
                color: white;
               }
               .recommended {
                    margin: 5px 0 0 20px;
                    text-align: center;
                    background-color: #71778E;
                    color: white;
                    width: 125px;
                    border-radius: 20px;
               }
               .card-body {
                   .card-title {
                       font-size: 18px;
                   }
                   .card-text {
                       font-size: 14px;
                       color: #3aff33;
                       margin: 0;
                   }
                   .cross-out {
                       display: inline-block;
                       text-decoration: line-through;
                       color: #C4C4D4;
                   }
                   .sale {
                       color: red;
                   }
               }
            }
        }
    }
}
.checked {
    color: orange;
}
.flip-clock-wrapper {
    width: 90%;
}
.clock {
    position: relative !important;
    padding-top: 0px;
    margin-left: -100px;
    height: 100px;
    width: 800px;
    zoom: 0.8;
    transform: scale(0.54);
    -ms-transform: scale(0.54);
    -webkit-transform: scale(0.54);
    -o-transform: scale(0.54);
    -moz-transform: scale(0.54);
  }
#cookie-and-icecream {
    .box {
        position: relative;
        img {
            border-radius: 10px;
        }
        .content-box {
            p {
                margin: 0;
            }
            .discount {
                color: red;
                font-size: 15px;
            }
            .product {
                font-size: 25px;
            }
            .discount2 {
                font-size: 12px;
            }
            .btn {
                background-color: darkblue;
                border: none;
                border-radius: 20px;
                margin-top: 10px;
            
            }
            position: absolute;
            top: 40%;
            left: 7%;
        }
        
    }
}
.flip-clock-label {
    display: none;
}
#best-sellers {
    .best-sellers-box {
        display: flex;
        justify-content: space-between;
        p {
            display: inline-block;
        }
        .btn {
            background-color: transparent;
            border: 1px solid gray;
            color: black;
            border-radius: 20px;
            height: 32px;
            width: 112px;
            padding: 0;
        }
    }
    .owl-carousel {
        .owl-dot {
            display: none !important;
        }
        .owl-nav {
            position: absolute;
            top: 40%;
            width: 100%;
        }
        .owl-prev{
            float: left;
            margin-left: -25px !important;
            background-color: white !important;
            border-radius: 50% !important;
            border: 1px solid rgb(185, 185, 185);
            span {
                padding: 20px !important;
                font-size: 35px;
                &:hover {
                    color: black;
                }
            }
        }
        .owl-next {
            float: right;
            margin-right: -25px !important;
            background-color: white !important;
            border: 1px solid rgb(185, 185, 185);
            border-radius: 50% !important;
            span {
                padding: 20px !important;
                font-size: 35px;
                &:hover {
                    color: black;
                }
            }
        }
        .item {
            position: relative;
            
            .card {
                &:hover .hidden-box {
                    visibility: visible !important;
                }
                .hidden-box {
                    .btn {
                        height: 35px;
                        width: 225px;
                        border-radius: 20px;
                        text-align: center;
                        background-color: #FFCD00;
                        border: none;
                    }
                }
                img {
                    height: 180px;
                    width: 205px;
                }
               .onsale {
                margin: 20px 0 0 20px;
                background-color: #2BBEF9;
                width: 45px;
                border-radius: 20px;
                text-align: center;
                color: white;
               }
               .recommended {
                    margin: 5px 0 0 20px;
                    text-align: center;
                    background-color: #71778E;
                    color: white;
                    width: 125px;
                    border-radius: 20px;
               }
               .card-body {
                   .card-title {
                       font-size: 18px;
                   }
                   .card-text {
                       font-size: 14px;
                       color: #3aff33;
                       margin: 0;
                   }
                   .cross-out {
                       display: inline-block;
                       text-decoration: line-through;
                       color: #C4C4D4;
                   }
                   .sale {
                       color: red;
                   }
               }
            }
        }
    }
}
.sale-box {
    .sale {
        background-color: #FBEACF;
        border-radius: 15px;
        width: 1170px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            font-size: auto;
            color: black;
            text-decoration: none;
        }
    }
    display: flex;
    justify-content: center
}
.custom-col {
    width: 264px;
}
#products {
    .custom-col {
        .card {
            max-height: 360px;
            &:hover {
                box-shadow: 10px 5px 5px rgb(185, 185, 185);
                border: 1px solid rgb(185, 185, 185);
                z-index: 100;
            }
            &:hover .hidden-box {
                visibility: visible !important;
            }
            .hidden-box {
                visibility: hidden !important;
                .btn {
                    height: 35px;
                    width: 220px;
                    border-radius: 20px;
                    text-align: center;
                    background-color: darkblue;
                    border: none;
                }
            }
            img {
                height: 100px;
                width: 150px;
            }
           .onsale {
            margin: 20px 0 0 20px;
            background-color: #2BBEF9;
            width: 45px;
            border-radius: 20px;
            text-align: center;
            color: white;
           }
           .recommended {
                margin: 5px 0 0 20px;
                text-align: center;
                background-color: #71778E;
                color: white;
                width: 125px;
                border-radius: 20px;
           }
           .card-body {
               .card-title {
                   font-size: 17px;
               }
               .card-text {
                   font-size: 14px;
                   color: #3aff33;
                   margin: 0;
               }
               .cross-out {
                   display: inline-block;
                   text-decoration: line-through;
                   color: #C4C4D4;
               }
               .sale {
                   color: red;
               }
           }
        }
    }
}
#img-cards {
    .last-img-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h3 {
            font-size: 24px;
        }
        span {
            display: inline;
            color: #71778e;
            margin: 0 5px;
        }
        .last-imgs {
            border-radius: 10px;
            
        }
    }
    
    .img-box {
        position: relative;
        img {
            border-radius: 10px;
            width: 370px;
            height: 218px;
        }
        .position-box {
            position: absolute;
            top: 30%;
            left: 10%;
            .discount {
                font-size: 15px;
                color: green;
                font-weight: 700;
                margin: 0;
            }
            h6 {
                font-size: 25px;
                margin: 0;
            }
            .text {
                color: #b9b9b9;
                font-size: 14px;
                margin: 0;
            }
            .btn {
                background-color: #b9b9b9;
                border: none;
                border-radius: 20px;
                margin-top: 10px;
            }
        }
    }
}
#letter {
    .letter-box {
        width: 100%; 
        height: 320px;
        background-color: #233A95;
        position: relative;
        .letter-text-box {
            position: absolute;
            z-index: 100;
            left: 10%;
            top: 35%;
            color: white;
            .input-box {
                position: relative;
                input {
                    width: 470px;
                    height: 62px;
                    border-radius: 4px;
                    border: none;
                    padding-left: 50px;
                }
                i {
                    position: absolute;
                    top: 22%;
                    left: 2%;
                    color: gray;
                }
                .btn {
                    right: 20%;
                    top: 10%;
                    position: absolute;
                    height: 50px;
                    background-color: #233A95;
                    border: none;
                }
            }
            
        }
        img {
            position: absolute;
            right: 20%;
            bottom: 0%;
            z-index: 1;
        }
    }
}
#advantages {
    padding: 1px;
    background-color: #F7F8FD;
    .advantages-box {
        border-bottom: 1px solid grey;
        .col-xl-3 {
            border-right: 1px solid grey;
        }
        .last {
            border-right: none;
        }
    }
}
#ftr-categories {
    padding: 1px;
    background-color: #F7F8FD;
    .custom-col {
        .list-group {
          
            .first {
                font-size: 18px !important;
                color: black !important;
            }
            .list-group-item {
                background-color: #F7F8FD;
                border: none;
                color: gray;
                font-size: 16px;
            }
        }
    }
}
#last-ftr {
    .phone-and-apps {
        border-bottom: 1px solid gray;
        .phone {
            i {
                border: 1px solid gray;
                padding: 10px;
                border-radius: 50%;
            }
            h4 {
                display: inline-block;
                font-weight: 700;
                margin-left: 10px;
            }
            span {
                color: gray;
                display: block;
                margin-left: 50px;
                font-size: 14px;
            }
        }
        .app-text {
            h6 {
                display: inline-block;
                font-weight: 700;
            }
            span {
                color: gray;
                display: block;
                font-size: 14px;
            }
        }
        .icons {
            i {
                color: darkblue;
                border: 1px solid gray;
                padding: 15px 10px;
                border-radius: 50%;
            }
        }
        .socials {
            display: flex;
            justify-content: end;
            i,img {
                cursor: pointer;
            }
        }
    }
   .copyright {
       p {
           color: gray;
           font-size: 14px;
           display: inline-block;
       }
       span {
           color: gray;
           font-size: 14px;
           margin: 0 10px;
       }
   }
}